<!-- Image and text -->
<nav class=" navbar fixed-top">
  <a class="navbar-brand" href="#">
    <h1 class="title">Hi Waiter!!!</h1>
  </a>
  <div *ngIf=" getLocalstorage() === null ">
    <button class="btn btnLogin" data-toggle="modal" data-target="#exampleModal">{{msg.LOGIN}}</button>
  </div>
  <div *ngIf=" getLocalstorage() !== null ">
    <button class="btn btnLogin" data-toggle="modal" [routerLink]="['./listTables']">{{msg.TABLES}}</button>
    <button class="btn btnLogin" data-toggle="modal">{{msg.MENU}}</button>
    <button class="btn btnLogin" data-toggle="modal" [routerLink]="['./kitchen']">{{msg.KITCHEN}}</button>
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <app-modal-login></app-modal-login>
</div>
