.title {
  color: black;
  font-family: StaleMarker;
  font-size: 60px;
  margin-left: 50px;
}

.navbar {
  background-color: rgb(255, 184, 5);
}

.btnLogin {
  color: rgb(255, 184, 5);
  padding: 3px 51px;
  background-color: black;
  font-size: 30px;
  font-family: Scribble;
  transition: 0.5s;
}

.btnLogin:hover {
  color: black;
  border: 1px solid black;
  background-color: rgb(255, 184, 5);

}
