.titleModal {
  color: rgb(255, 184, 5);
  background-color: black;
}
.bodyModal {
  background-color: rgb(255, 184, 5);
}
.close {
  padding: 0px;
  margin: 0px;
  color: black;
}
.modal-title {
  margin: 0 auto;
}
.modal-content {
  background-color: rgba(10, 9, 9, 0.904);
}
.iconUser {
  text-align: center;
  color: rgba(10, 9, 9, 0.904);
  font-size: 122px;
}

.formLogin {
  margin: 20px;
}

label {
  color: black;
}

.btnSubmit {
  background-color: rgba(10, 9, 9, 0.904);
  color: rgb(255, 184, 5);
  margin-top: 40px;
}

.btnSubmit:hover {
  color: rgba(10, 9, 9, 0.904);
  background-color: rgb(255, 184, 5);
  border: 1px solid rgba(10, 9, 9, 0.904);
}

.form-control {
  padding-left: 40px!important;
}
.form-group{
position: relative;
}
.form-group fa-icon{
  position: absolute;
  left: 7px;
  top: 6px;
  color: black;
  margin-left: 5px;

}


