<div class="container">
  <h2 class="subtittle">
    Lista de platos y bebidas.
  </h2>

  <div>
    <h3>Platos</h3>
    <div>
      <div class="row">
        <p class="col-8">Nombre</p>
        <p class="col-2 text-center">Activo</p>

      </div>
      <div class="row product" *ngFor="let product of listProducts?.plates">
        <span class="col-8">{{product.name}}</span>
        <input class="col-2 active" id="{{product.id}}" type="checkbox" value="{{product.active}}"
          (click)="activeOrNoActive(product.id,product.active,'plates')" [checked]="product.active">
        <button class="col-2 btn">Modificar</button>
      </div>
    </div>

    <div>
      <h3>Bebidas</h3>
      <div>
        <div class="row">
          <p class="col-8">Nombre</p>
          <p class="col-2 text-center">Activo</p>

        </div>
        <div class="row product" *ngFor="let product of listProducts?.drinks">
          <span class="col-8">{{product.name}}</span>
          <input class="col-2 active" id="{{product.id}}" type="checkbox" value="{{product.active}}"
            (click)="activeOrNoActive(product.id,product.active,'drink')" [checked]="product.active">
          <button class="col-2 btn" [routerLink]="['./form-menu/modify',product.id]">Modificar</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="wrapper">
      <button class="btn insert" [routerLink]="['./form-menu']">Insertar plato</button>

      <button class="btn" [routerLink]="['./form-menu']">Insertar bebida</button>
    </div>

  </div>
