<div class="container text-center col-6">
  <h2>{{msg.what}}</h2>
  <p>{{msg.whatDescription}}</p>
  <h2>{{msg.how}}</h2>
  <ul class="text-left">
    <li>{{msg.howDescription1}}</li>
    <li>{{msg.howDescription2}}</li>
    <li>{{msg.howDescription3}}</li>
    <li>{{msg.howDescription4}}</li>
  </ul>

  <h2>{{msg.whyUser}}</h2>
  <ul class="text-left">
    <li>{{msg.whyDescriptionUser1}}</li>
    <li>{{msg.whyDescriptionUser2}}
    </li>
    <li>{{msg.whyDescriptionUser3}}</li>
    <li>{{msg.whyDescriptionUser4}}</li>
    <li>{{msg.whyDescriptionUser5}}</li>
  </ul>
  <h2>{{msg.whyAdmin}}</h2>
  <ul class="text-left">
    <li>{{msg.whyAdminDescription1}}</li>
    <li>{{msg.whyAdminDescription2}}</li>
    <li>{{msg.whyAdminDescription3}}</li>
    <li>{{msg.whyAdminDescription4}}</li>
    <li>{{msg.whyAdminDescription5}} </li>
  </ul>

  <h2>{{msg.yet}}</h2>
  <p>{{msg.demo}}</p>

  <div class="row">
    <div class="col-5 videoAdmin">
      video
    </div>

    <div class="col-2">
    </div>

    <div class="col-5 videoUser">
      video
    </div>

  </div>

  <h2>{{msg.like}}</h2>
  <p>{{msg.contact}}</p>
  <p>{{msg.mobile}}</p>
  <p>{{msg.email}}</p>

</div>
