<div class="container text-center col-6">
  <h2>{{msg.what}}</h2>
  <p>{{msg.whatDescription}}</p>
  <h3>{{msg.how}}</h3>
  <ul class="text-left">
    <li>{{msg.howDescription1}}</li>
    <li>{{msg.howDescription2}}</li>
    <li>{{msg.howDescription3}}</li>
    <li>{{msg.howDescription4}}</li>
  </ul>

  <h3>{{msg.whyUser}}</h3>
  <ul class="text-left">
    <li>{{msg.whyDescriptionUser1}}</li>
    <li>{{msg.whyDescriptionUser2}}
    </li>
    <li>{{msg.whyDescriptionUser3}}</li>
    <li>{{msg.whyDescriptionUser4}}</li>
    <li>{{msg.whyDescriptionUser5}}</li>
  </ul>
  <h3>{{msg.whyAdmin}}</h3>
  <ul class="text-left">
    <li>{{msg.whyAdminDescription1}}</li>
    <li>{{msg.whyAdminDescription2}}</li>
    <li>{{msg.whyAdminDescription3}}</li>
    <li>{{msg.whyAdminDescription4}}</li>
    <li>{{msg.whyAdminDescription5}} </li>
  </ul>

</div>
