<div class="container text-center col-6">
  <h2>{{msg.WHAT}}</h2>
  <p>{{msg.WHATDESCRIPTION}}</p>
  <h2>{{msg.HOW}}</h2>
  <ul class="text-left">
    <li>{{msg.HOWDESCRIPTION1}}</li>
    <li>{{msg.HOWDESCRIPTION2}}</li>
    <li>{{msg.HOWDESCRIPTION3}}</li>
    <li>{{msg.HOWDESCRIPTION4}}</li>
  </ul>

  <h2>{{msg.WHYUSER}}</h2>
  <ul class="text-left">
    <li>{{msg.WHYDESCRIPTIONUSER1}}</li>
    <li>{{msg.WHYDESCRIPTIONUSER2}}
    </li>
    <li>{{msg.WHYDESCRIPTIONUSER3}}</li>
    <li>{{msg.WHYDESCRIPTIONUSER4}}</li>
    <li>{{msg.WHYDESCRIPTIONUSER5}}</li>
  </ul>
  <h2>{{msg.WHYADMIN}}</h2>
  <ul class="text-left">
    <li>{{msg.WHYADMINDESCRIPTION1}}</li>
    <li>{{msg.WHYADMINDESCRIPTION2}}</li>
    <li>{{msg.WHYADMINDESCRIPTION3}}</li>
    <li>{{msg.WHYADMINDESCRIPTION4}}</li>
    <li>{{msg.WHYADMINDESCRIPTION5}} </li>
  </ul>

  <h2>{{msg.YET}}</h2>
  <p>{{msg.DEMO}}</p>

  <div class="row">
    <div class="col-5 videoAdmin">
      video
    </div>

    <div class="col-2">
    </div>

    <div class="col-5 videoUser">
      video
    </div>

  </div>

  <h2>{{msg.LIKE}}</h2>
  <p>{{msg.CONTACT}}</p>
  <p>{{msg.MOBILE}}</p>
  <p>{{msg.EMAIL}}</p>

</div>
<app-footer></app-footer>
