.container {
  margin-bottom: 25px;
}

.container p {
  margin: 0 auto;
  padding: 5px 0px;
}

.container p,
li {
  font-family: bodedo;
  font-size: 19px;
}

.container h3,
h2,
h4 {
  padding: 15px 0px;
  font-size: 40px;
  color: rgb(255, 184, 5);
}

.container li {
  padding: 10px 0px
}

.videoUser,
.videoAdmin {
  margin-top: 25px;
  height: 250px;
  background-color: rgb(255, 184, 5);
}
