.container {
  margin-top: 110px;
  margin-bottom: 25px;
}

.container p {
  margin: 0 auto;
  padding: 5px 0px;
}

.container p,
li {
  font-family: Scribble;
  font-size: 25px;
}

.container h3,
h2,
h4 {
  font-family: StaleMarker;
  padding: 15px 0px;
  font-size: 100px;
  color: rgb(255, 184, 5);
}

.container li {
  padding: 10px 0px
}

.videoUser,
.videoAdmin {
  margin-top: 25px;
  height: 250px;
  background-color: rgb(255, 184, 5);
}
