.container-fluid {
  background-color: rgb(255, 184, 5);
  padding: 20px 0;
  margin: 0px;
  position: fixed;
  bottom: 0px;
  margin-top: 66px;
}

.social {
  cursor: pointer;
  margin: 0 15px;
}

.social:hover {
  color: white;
}

.social:first-child {
  margin-left: 0px;
}

.col-6 {
  font-size: 15px;
  color: black;
  margin: 0px;
}

.col-6:first-child {
  padding-left: 80px;
}

.col-6:last-child {
  padding-right: 80px;
}
