<div class="container">
  <h2>{{msg.TABLES}}</h2>
  <div>
    <div class="statusOrder" *ngFor="let literal of ArrayStatusLiteral; let i=index">
      <h3 *ngIf="countTableCategory[i]" [ngClass]="{
        'green': literal.translate === msg.ORDERSERVED,
        'colorRed': literal.translate === msg.WAITERREQUEST,
        'orange': literal.translate === msg.ACCOUNTREQUESTED,
        'white': literal.translate=== msg.KITCHENORDER,
        'purple': literal.translate===msg.ORDERRECEIVED
      }">{{literal.translate}}</h3>
      <div *ngFor="let status of ArrayStatus; let i=index ">
        <button [ngClass]="{
          'green': literal.translate === msg.ORDERSERVED,
          'red': literal.translate === msg.WAITERREQUEST,
          'colorOrange': literal.translate === msg.ACCOUNTREQUESTED,
          'white': literal.translate=== msg.KITCHENORDER,
          'purple': literal.translate===msg.ORDERRECEIVED
        }" class="tableNumber btn" *ngFor="let category of status[literal.name]" id='{{category.number}}'
          [routerLink]="['/tableDetail', category.number]">
          {{msg.TABLE}} {{category.number}}</button>
      </div>
    </div>
  </div>
</div>
