<div class="container">
  <h2>Mesas</h2>

  <div class="row">
    <div id="{{table.number}}" *ngFor="let table of listTables" class="table col-4"
      [routerLink]="['/tableDetail', table.number]">
      <div class="mt-5">

        <h5>Mesa {{table.number}}</h5>
        <h3 [ngClass]="{
            'green': table.state === 'Pedido servido',
            'white': table.state === 'Mesa vacia',
            'red': table.state === 'Solicitan camarero',
            'orange': table.state === 'Cuenta solicitada',
            'blue': table.state=== 'Pedido en cocina',
            'yellow': table.state=== 'Pedido recepcionado'
          }">{{table.state}}
        </h3>
      </div>

    </div>
  </div>
</div>
