<div>
  <h2 class="subtittle">Insertar Plato</h2>
  <div>
    <form [formGroup]="formPlate" (ngSubmit)="sendFormMenu()" class="row">
      <div class="row col-12">

        <div class="col-4">
          <div class="form-group">
            <div>
              <label>Nombre</label>
            </div>
            <input formControlName="name" type="text" placeholder="Nombre del plato">
          </div>
        </div>

        <div class=" col-4">
          <div class="form-group">
            <div>
              <label>Categoria</label>
            </div>
            <select formControlName="category" name="">
              <option value="">Seleciona un tipo de plato</option>
              <option *ngFor="let type of arrayTypeFood" [value]=type n>{{type}}</option>
            </select>
          </div>
        </div>

        <div class="col-4">
          <div class=" form-group">
            <div>
              <label>Precio</label>
            </div>
            <input formControlName="price" type="number" placeholder="Precio del plato">
          </div>
        </div>

      </div>
      <div class="form-group text-center">
        <div>
          <label>Alergenos</label>
        </div>
        <div class="row">
          <div class="col-6 modifyCol2 form-group" *ngFor="let allengen of arrayAllergens">
            <div>

              <input formControlName="{{allengen.name}}" type="checkbox" class="form-check-input col-5">
              <p class="col-7">{{allengen.translate}}</p>

            </div>
          </div>
        </div>
      </div>

      <div class="form-group col-12">
        <div>
          <label for="">Descripcion</label>
        </div>
        <textarea formControlName="description" cols=" 70" rows="10"></textarea>
      </div>

      <div class="form-group col-12">
        <div class="text-center ">
          <label for="">Imagen</label>
        </div>
        <input formControlName="img" type="file">
      </div>
      <button class="btn save" type="submit">
        Enviar
      </button>
    </form>
  </div>
</div>
