<div class="container-fluid">
  <img class="logo" src="../../../assets/imagenes/la-casita-comida-tc3adpica.png" alt="">
</div>
<div class="container">
  <h2>Bienvenido a tu espacio</h2>
  <p>Aqui podras encontrar una seccion dedicada a las MESAS para poder ver los pedidos, la
    cuenta
    de esa mesa, si necesitan que un camarero les atienda o si te han pedido la cuenta, ademas tambien tendras otra
    seccion con tu CARTA donde podras añadir productos nuevos, modificar los ya existentes, activar unos productos u
    otros
    todo depende de ti.
  </p>

  <div class="row">
    <button [routerLink]="['/listTables']" class="col-4 btn">MESAS</button>
    <button class="col-4 btn">COCINA</button>
    <button class="col-4 btn">CARTA</button>
  </div>
</div>
