.bigbutton {
  background-color: white;
  font-family: bodedo;
  padding: 22px 84px;
  margin: 50px auto;
  font-size: 50px;
}

.wrapper {
  margin-top: 375px;
}

.up {
  margin-top: 0px;
}

.none {
  display: none;
}
