.container h2 {
  text-align: center;
  font-size: 65px;
  margin-top: 20px;
}

div .row {
  text-align: center;
}

.order {
  margin: 25px auto;
}

p {
  font-family: bodedo;
  margin-bottom: 5px;
  font-size: 25px;
}

.tick {
  margin-left: 10px;
}

img {
  width: 20px;
  padding-bottom: 11px;
}

.row div {
  margin-top: 20px;
}

h5,
span {
  margin-top: 20px;
  color: gold;
}

.noServed {
  color: brown;
}

.served {
  color: rgb(142, 241, 133);
}

.served,
.noServed {
  cursor: pointer;
}

.show {
  display: block;
}

.underline {
  text-decoration: line-through;
}
