<div *ngFor="let array of arrayCategory">

  <div *ngIf="array.name!=='drink'">
    <p *ngFor="let order of item[array.name]" [ngClass]="{'none': order.served !== served, 'show': mode==='kitchen'}">

      <img src="../../../../assets/imagenes/{{array.icons}}.png" alt="{{array.icons}}" title="{{array.icons}}">
      {{order.name}}
      <span>x{{order.quantity}}</span>
      <img class="tick" [ngClass]="{'none': order.state === msg.NOPREPARED}" src="../../../../assets/imagenes/listo.png"
        alt="">

    </p>
  </div>

  <div *ngIf="mode==='table' ">
    <p *ngFor="let order of item[array.name]" [ngClass]="{'none': order.served !== served, 'show': mode==='kitchen'}">

      <img src="../../../../assets/imagenes/{{array.icons}}.png" alt="{{array.icons}}" title="{{array.icons}}">
      {{order.name}}
      <span>x{{order.quantity}}</span>
      <img class="tick" [ngClass]="{'none': order.state === msg.NOPREPARED}" src="../../../../assets/imagenes/listo.png"
        alt="">

    </p>
  </div>

</div>
